html, body {
	font-family: 'Oxygen', sans-serif;
}
.btn-custom {
	background-color: #442D65;
	border-color: #775BA3;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
	background-color: #775BA3;
	border-color: #775BA3;
}
img {
	vertical-align: inherit;
}