@charset "UTF-8";

// Scss Variables
$bg-color: #fff4e9; // cream color
$text-color: #444444; // dark grey text for friendly reading
//$text-color: #333333; // light black
$second-text-color: lightcoral; //coral for urls

$font-header: 'Oxygen', sans-serif;
$font-body: 'Open Sans', sans-serif;

$ibm-color: rgb(0, 98, 255); //ibm blue
$ibm-secondary-color: white;

$essentials-color: #fbfbf8;
$essentials-secondary-color: #fbfbf8;

$default-block-color: darkslategray;
$default-secondary-color: white;

//$ibm-color-light:
//rgb(5,48,173);

// .block__element--modifier

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1290px;
  background-color: $bg-color;
  margin: 0 auto;
}
.index .role {
  font-family: $font-header;
}
.basefont, h1, h2, .text h3, h4, h5, p, span, body {
  font-family: $font-body;
  letter-spacing: 0.05em;
  color: $text-color;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

.header {
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  .name {
    font-family: $font-header;
    a {
      float: left;
      color: $second-text-color;
      font-size: 1.5em;
      font-weight: 700;
    }
  }
  .menu {
    font-family: $font-header;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.menu {
  font-size: 0.8em;
  float: right;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1em;
  a {
    color: $second-text-color;
  }
  a:first-child, a:nth-child(2) {
    margin-right: 1em;
  }
  a:hover, a:focus {
    color: $text-color;
  }
}

.projects {
  max-width: 1440px;
  padding-bottom: 3em;
}

.projects-header {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.projects, .contact {
  a:link {
    //color: $second-text-color;
    color: $text-color;
  }

  a:visited {
    //color: $second-text-color;
    color: $text-color;
    text-decoration: underline;
  }

  a:hover {
    color: $second-text-color;
    //color: $text-color;
  }

  a:active {
    color: $second-text-color;
    //color: $text-color;
    text-decoration: underline;
  }

  i {
    color: $second-text-color;
  }
}

.role {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  font-weight: 700;
  //line-height: 1.5em;
  //color: $second-text-color;
}

.card {
  position: relative;
  img {
    max-width: 100%;
    height: auto;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  img.bottom {
    position: absolute;
  }
  img.top {
    position: relative;
  }
  img.top:hover {
    opacity: 0;
  }
  &__title {
    font-family: $font-header;
    font-weight: 700;
  }
  &__subtitle {
    font-style: italic;
  }
}

.about {
  padding-bottom: 4em;
}

.contact {
  font-size: 1.25em;
}

.contact-center {
  text-align: center;
  margin-bottom: 0.5em;
}

.text-left {
  display: inline-block;
  text-align: left;
  line-height: 1.5em;
}

.about, .contact {
  max-width: 90%;
  margin: auto;
  border-top: 2px dashed $second-text-color;
  .row {
    padding-top: 1.5em;
  }

  [class*="col-"] {
    padding: 0;
    p {
      font-family: $font-header;
      font-weight: 700;
      letter-spacing: 0.1em;
      font-size: 1.5em;
    }
    .job {
      font-family: $font-header;
      font-weight: 700;
    }
    i {
      color: $second-text-color;
    }
  }
}

.copyright {
  margin-top: 4em;
  i {
    color: $second-text-color;
  }
  p {
    font-weight: 700;
    font-family: $font-header;
  }
}

.project-page {
  max-width: 100%;
  background-color: $default-block-color;
  .header {
    max-width: 1290px;
    margin: 0 auto;
  }
  .role {
    font-family: $font-header;
    padding: 2em;
    font-size: 3em;
  }
  .copyright {
    margin-top: 0;
  }
}
.primary-page-block, .secondary-page-block {
  background-color: $default-secondary-color;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 2em;
  .width {
    max-width: 900px;
  }
  .wide-head {
    font-family: $font-header;
    letter-spacing: 0.05em;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    padding-top: 1.5em;
  }
  p, ul {
    font-family: $font-body;
    text-align: left;
    line-height: 1.7em;
    font-size: 20px;
    margin-bottom: 1.5em;
    letter-spacing: 0;
  }
  img {
    max-width: 900px;
  }
  span {
    font-family: $font-body;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0;
  }
}
.secondary-page-block {
  background-color: $default-block-color;
  a {
    color: $second-text-color;
    font-weight: 700;
  }
}

/* IBM page */

#ibm-page {
  background-color: $ibm-color;
  .header {
    .name a, .menu a {
      color: white;
    }
  }
  .role {
    color: white;
  }
  .primary-page-block {
    background-color: $ibm-secondary-color;
  }
  .secondary-page-block {
    background-color: $ibm-color;
    p {
      color: white;
    }
  }
  .copyright p {
    color: white;
  }
}

/* Essentials page */

#essentials-page {
  background-color: $essentials-color;
  #border-top {
    border-top: 2px dashed $second-text-color;
  }
  .primary-page-block {
    background-color: $essentials-secondary-color;
  }
  .secondary-page-block {
    background-color: $essentials-color;
  }
}

/* 12-column responsive layout */
/* Mobile First */
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 360px) {
  /* Mini adjust for slightly larger phone */
  .menu {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .menu {
    font-size: 1em;
    a:first-child, a:nth-child(2) {
      margin-right: 2em;
    }
  }

  .card__subtitle {
    font-size: 0.9em;
  }

  .width {
    max-width: 75%;
    margin: auto;
  }

  .about-left {
    float: right;
    margin-right: 1.75em;
  }

  .about-right {
    margin-top: 1.75em;
  }

  body .role {
    font-size: 2em;
  }
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  /* For small laptop/desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* Extra large devices (2560px and up) */
@media only screen and (min-width: 2560px) {
  body {
    max-width: 1440px;
    font-size: 1.5em;
  }

}