body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #707070;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.7;
    /* letter-spacing: 0.5px; */
}

/******************
Typography
*******************/

h1, h2, h3 {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    color: #143774;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

.about-headers {
    color: #1792D2;
}

a {
    color: #1792D2;
}

a:hover,
a:focus {
    color: #143774;
    text-decoration: underline;
}

strong {
    font-weight: 700;
}

.subtitle {
    color: #1792D2;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .78rem;
    margin: 0;
    letter-spacing: 1px;
}

.article-title {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

.article-info,
.article-continue {
    font-size: .875rem;
}

.article-info {
    margin: 1em 0 2em 0;
}

.article-continue {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: auto; /* removes extra width on the right */
}

.sidebar-widget-title {
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 2em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.sidebar-post-title {
    font-size: 1.1rem;
    line-height: 1.4;
}

/******************
Layout
*******************/

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-featured {
    padding-bottom: 2em;
    border-bottom: 1px solid #707070;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.article-img {
    /* max-height: 400px; */
    order: -2;
}

.article-img-left {
    object-position: 13%;
}

.article-img-right {
    object-position: 75%;
}

.article-info {
    order: -1;
}

.article-past {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-past-primary {
    order: 2;
}

.article-past-secondary {
    order: 1;
}

.sidebar-widget {
    padding: 2em;
    border: 20px solid #EBEBEB;
    margin-bottom: 3em;
}

.sidebar-about-img {
    width: 100%;
    height: 133px;
    object-fit: cover;
}

.sidebar-body {
    margin-top: 2em;
    color: #143774;
}

.sidebar-post {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    border-bottom: 1px solid #707070;
    margin-bottom: 2em;
}

.sidebar-img {
    order: -1;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1em;
}

.sidebar-post:last-child {
    border: 0;
    padding: 0;
    margin: 0;
}

footer {
    background: #143774;
    padding: 4em;
    text-align: center;
    color: rgba(255, 255, 255, .75);
}

.focus-post {
    margin-bottom: 5em;
}

.focus-img {
    /* max-height: 300px; */
    width: 100%;
    object-fit: cover;
    margin-bottom: 2.5em;
}

/* Navigation */
header {
    background: #F8F8F8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

nav li {
    padding: 0;
    margin: 1em 0;
}

nav a {
    text-decoration: none;
    color: #717171;
    padding: .25em 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

nav a:hover,
nav a:focus {
    color: #1792D2;
    text-decoration: none;
}

nav .current-page {
    padding: .25em 0;
    border-bottom: 1.5px solid #717171;
}

nav .current-page:hover,
nav .current-page:focus {
    border-bottom: 2px solid #1792D2;
}

/******************
Media Queries
*******************/

@media (min-width: 1000px) {
    nav ul {
        flex-direction: row;
    }

    nav li {
        margin-right: 2em;
    }
    
    .container-flex {
        flex-direction: row;
    }
    
    main {
        width: 63%
    }
    
    .article-past {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .article-past-primary {
        width: 61%;
    }
    
    .article-past-secondary {
        width: 33%;
    }
    
    .article-img {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
    }
    
    aside {
        width: 30%;
    }
    
    .sidebar-widget-title {
        margin-bottom: 1em;
    }
    
    footer {
        padding: 3em;
    }
}