body {
    margin: 0;
    font-family: Ubuntu, sans-serif;
    color: #707070;
    font-weight: 300;
}

/******************
Typography
*******************/

h1, h2, h3, p {
    margin-top: 0;
}

h1 {
    font-family: Lora, sans-serif;
    font-weight: 400;
    color: #143774;
    margin: 0;
}

h2 {
    margin-top: 1em;
}

h3 {
    margin-top: 1em;
}

a {
    color: #1792D2;
}

a:hover,
a:focus {
    color: #143774;
    text-decoration: underline;
}

.subtitle {
    color: #1792D2;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .75rem;
    margin: 0;
}

main {
    line-height: 1.5;
}

.article-title {
    color: #143774;
    font-family: Lora, sans-serif;
    font-weight: 400;
}

.article-info,
.article-continue {
    font-size: .875rem;
}

.article-info {
    margin: 2em 0 0 0;
}

.article-continue {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

/******************
Layout
*******************/

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-featured {
    padding-bottom: 2em;
    border-bottom: 1px solid #707070;
    margin-bottom: 2em;
}

.article-past {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-past-primary {
    order: 2;
}

.article-past-secondary {
    order: 1;
}

/* Navigation */
header {
    background: #F8F8F8;
    padding: 2em 0;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

nav li {
    padding: 0;
    margin: 1em 0 1em 2em;
    text-transform: uppercase;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #717171;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792D2;
    text-decoration: none;
}

nav .current-page {
    padding: .25em 0;
    border-bottom: 2px solid #717171;
}

nav .current-page:hover,
nav .current-page:focus {
    border-bottom: 2px solid #1792D2;
}

/******************
Media Queries
*******************/

@media (min-width: 675px) {
    nav ul {
        flex-direction: row;
        
    }
    
    .container-flex {
        flex-direction: row;
    }
    
    main {
        width: 63%
    }

    aside {
        width: 30%;
    }
}