body {
    margin: 0;
    background-color: #fff4e9;
}

header {
    height: 150px;
    display: flex;
    align-items: center;
    background: #8D6B94;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8D6B94, #cbc0d3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8D6B94, #cbc0d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header > img {
    height: 90%;
    margin-left: 10%;
}

header > h2 {
    font-family: VT323, monospace;
    color: #000;
    font-size: 45px;
    margin-left: 20px;
}

.text-form {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-form > input {
    width: 40%;
    height: 40px;
    font-family: VT323, monospace;
    font-size: 25px;
}

.text-form > button {
    border: none;
    font-family: VT323, monospace;
    font-size: 25px;
    background: #8D6B94;
}

.break {
    width: 100%;
    height: 25px;
}

.text-form > select {
    display: block;
    font-family: VT323, monospace;
    font-size: 25px;
}

.cat-img {
    position: relative;
    margin: auto;
    max-width: 800px;
}

.cat-img > img {
    width: 90%;
}

.cat-img > h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    font-family: VT323, monospace;
    font-size: 5em;
    color: white;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.cat-img > .top-text {
    top: 0;
}

.cat-img > .bot-text {
    bottom: 0;
}